<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pt.novaleaf.www.maisverde">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_novaleaflogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_novaleaflogo_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".EntradaActivity"
            android:theme="@style/Entrada3"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".FeedActivity"
            android:label="Feed"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="pt.novaleaf.www.maisverde.FeedActivity"/>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".AreaPessoalActivity"
            android:label="Área Pessoal"
            android:parentActivityName=".FeedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.novaleaf.www.maisverde.FeedActivity"/>
        </activity>
        <activity
            android:name=".GruposListActivity"
            android:label="Grupos"
            android:configChanges="orientation|screenSize"
            />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MapsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Mapa"/>
        <activity
            android:name=".SettingsPessoaisActivity"
            android:label="@string/title_activity_settings_pessoais"
            android:parentActivityName=".AreaPessoalActivity"/>
        <activity
            android:name=".AcercaActivity"
            android:label="Acerca de"/>
        <activity android:name=".RegisterActivity"/>
        <activity
            android:name=".CriarOcorrenciaActivity"
            android:label="Criar ocorrência"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CriarGrupoActivity"
            android:label="Criar grupo"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".AlterarDadosActivity"
            android:label="Perfil"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".AreaPessoalActivity"/>
        <activity
            android:name=".MinhasOcorrenciasActivity"
            android:label="As minhas ocorrências"/>
        <activity android:name=".DetalheOcorrenciaActivity"/>
        <activity
            android:name=".AlterarPassActivity"
            android:label="Mudar password"
            android:configChanges="orientation|screenSize"
            />
        <activity
            android:name=".ComentariosActivity"
            android:label="Comentários"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".OcorrenciaActivity"
            android:label="Ocorrência"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".teste"
            android:label="@string/title_activity_teste"
            android:theme="@style/CustomTheme"/>
        <activity
            android:name=".EventoActivity"
            android:label="Evento"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".TiposActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
        </activity>
        <activity android:name=".GruposActivity">
        </activity>
        <activity
            android:name=".DetalhesGrupoActivity"
            android:label="Detalhes"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".ProcurarGruposActivity"
            android:label="Procurar grupo"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".GrupoFeedActivity"
                  android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AddPostActivity"
            android:label="Criar publicação"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".FeedEventosActivity"
            android:label="Eventos"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AdministrarGrupoActivity"
            android:label="Administrar grupo"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AdminGrupoConvidarActivity"
            android:label="Convidar pessoas"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AdminGrupoAtualizarActivity"
            android:label="Atualizar informação"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AdminGrupoMembrosActivity"
            android:label="Gerir membros"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AdminGrupoPedidosActivity"
            android:label="Pedidos pendentes"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".AdminGrupoConvitesActivity"
            android:label="Convites enviados"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>